node_modules/
eslint-cache/
.eslintcache
.DS_Store
Thumbs.db
pnpm-debug.log
npm-debug.log
dist/
scripts/__pycache__
.vscode
.env

# intermediary data for double slots conversion
scripts/data/trainerMetadata.json

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
